main {
  min-height: 80vh;
}


body {
  /* background-image: url('../login_image2.jpg'); Replace with your image path */
  background-size: cover; /* Cover the entire background */
  background-position: center; 
  background-repeat: no-repeat; /* Prevent repeating the background */
  /* height: 100vh; Ensure the body takes up the full viewport height */
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Example: Set a default font */
}


.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.product-image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.product-image:hover {
  transform: scale(1.05);
}

.product-card:hover {
  transform: scale(1.05);
}

.nav-link-custom {
  color: #333; /* Darker text color */
  font-weight: bold; /* Example: Increase font weight for emphasis */
}

.nav-link-disabled {
  color: #ccc; /* Lighter text color for disabled links */
  cursor: not-allowed; /* Example: Change cursor to indicate disabled state */
}

/* CustomTable.css */
.custom-table {
  border: 2px solid black; /* Slightly bolder border */
}

.custom-table tbody tr:hover {
  background-color: rgb(184, 184, 184); /* Darker hover effect */
}
